*, html {
    margin:0;
    padding:0;  
}

#skyline {
    margin: 0px;
    background-color: aliceblue;
    background-image: url('images/skyline.jpg');
    background-size: cover;
    background-repeat: repeat;
}

#title {
    width: 100%;
    height: 300px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    text-align: center;
    padding-top: 300px;
}